.nav-menu {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 100%;
    margin: auto;
}

.nav-menu-item a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.nav-menu-item a:hover {
    background: #1a606b;
}

.nav-menu-item {
    display: inline-block;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #1a606b;
    color: white;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background: #1a606b;
}